<div class="form">
  <div class="input-group">
    <label for="exam-title-input" i18n>Titel</label>
    <input type="text" placeholder="Beispielthema" i18n-placeholder id="exam-title-input" [(ngModel)]="tempExamConfig.title">
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input" i18n>Untertitel</label>
    <input type="text" id="exam-subtitle-input" [(ngModel)]="tempExamConfig.subTitle">
  </div>
  <div class="input-group">
    <label for="exam-primary-examiner-input" i18n>Erstprüfer:in</label>
    <input type="text" id="exam-primary-examiner-input" [(ngModel)]="tempExamConfig.primaryExaminer">
  </div>
  <div class="input-group">
    <label for="exam-secondary-examiner-input" i18n>Zweitprüfer:in</label>
    <input type="text" id="exam-secondary-examiner-input" [(ngModel)]="tempExamConfig.secondaryExaminer">
  </div>
  <div class="input-group">
    <label for="exam-attendant-input" i18n>Aufsichtsperson(en)</label>
    <app-multi-line-input id="exam-attendant-input" [(lines)]="tempExamConfig.attendants"></app-multi-line-input>
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input" i18n>Raum</label>
    <input type="text" id="exam-room-input" [(ngModel)]="tempExamConfig.room">
  </div>
  <div class="input-group">
    <label for="exam-resources-input" i18n>Zugelassene Hilfsmittel</label>
    <input type="text" placeholder="Hilfsmittel" id="exam-resources-input" [(ngModel)]="tempExamConfig.resources">
  </div>
  <div class="input-group">
    <label for="exam-duration-input" i18n>Bearbeitungszeit</label>
    <input type="time" id="exam-duration-input" [(ngModel)]="tempDuration" [disabled]="timerService.getState() === ExamState.RUNNING">
  </div>
</div>
