.line{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.line input{
  flex-grow: 1;
}

span.button{
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1rem;
}
