$color-passive: lightgray;
$color-active: DeepSkyBlue;

#wrapper{
  padding: 1rem;
  border: 1px solid $color-passive;
  color: $color-passive;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#wrapper.active{
  border-color: $color-active;
  color: $color-active;
}

i.bi{
  font-size: 4rem;
}
